.scrollup {
    background: url("../images/icon_gototop.png") no-repeat scroll 0 0 transparent;
    bottom: 40px;
    display: none;
    height: 40px;
    position: fixed;
    right: 20px;
    /*text-indent: -9999px;*/
    width: 40px;
}